
<footer>
    <hr>

    <div class="footer-links">
        <a href="https://github.com/Znarfen" target="_blank">
            <img src="https://avatars.githubusercontent.com/znarfen" alt="" />
            <p>Znarfen</p>
        </a>

        <a href="https://www.foretagsuniversitetet.se/" target="_blank">
            <img src="https://icons.duckduckgo.com/ip2/www.foretagsuniversitetet.se.ico" alt="" />
            <p>Foretagsuniversitetet</p>
        </a>
    </div>

    <p class="footer-text">
        Made by Znarfen
    </p>

    <p class="footer-text">
        A student at Företagsuniversitetet
    </p>
</footer>


