<div class="card">
    <div *ngIf="task.editMode == false">
        <h3 class="task-name">{{ task.name }}</h3>

        <button class="task-edit" (click)="startEditing(task)">&#x270E;</button>

        <p class="task-description">{{ task.description }}</p>

        <button *ngIf="getStatus(task, 1) != 'n/a'" (click)="increaseTask(task, 1)">Move To: {{ getStatus(task, 1) }}</button>
        <button *ngIf="getStatus(task, -1) != 'n/a'" (click)="increaseTask(task, -1)">Move To: {{ getStatus(task, -1) }}</button>

    </div>

    <div class="task-deadline">
        <p>Deadline: {{ task.deadline.d + " / " + task.deadline.m + " / " + task.deadline.y }}</p>
    </div>

    <div class="priority-bar">
        <button (click)="changePriority(task, 1)">+</button>
        <div class="priority-bar-end"></div>
        <div>
            <div class="priority-bar-amount" [ngStyle]="{ height: task.priority/3 * 100 + '%' }">
                <p>{{task.priority}}</p>
            </div>
        </div>
        <div class="priority-bar-start"></div>
        <button (click)="changePriority(task, -1)">-</button>
    </div>

    <div class="task-status">
        <div class="light">
            <div class="red-light" *ngIf="task.status == 0"></div>
        </div>
        <div class="light">
            <div class="yellow-light" *ngIf="task.status == 1"></div>
        </div>
        <div class="light">
            <div class="grean-light" *ngIf="task.status == 2"></div>
        </div>
    </div>

<div class="task-edit-mode" *ngIf="task.editMode">
    <form [formGroup]="form">
        <textarea class="task-name" formControlName="name" placeholder="Task Name"></textarea>

        <button class="task-remove" *ngIf="task.status !== -1" type="button" (click)="removeTask(task)">
            REMOVE
        </button>

        <textarea class="task-description" formControlName="description" placeholder="Description"></textarea>

        <button type="button" (click)="changeTask(task)">Save</button>
        <button type="button" (click)="cancelEdit(task)">Cancel</button>

        <button type="button" (click)="changeDeadline(task, 'd', 1)">d+</button>
        <button type="button" (click)="changeDeadline(task, 'd', -1)">d-</button>
        <button type="button" (click)="changeDeadline(task, 'm', 1)">m+</button>
        <button type="button" (click)="changeDeadline(task, 'm', -1)">m-</button>
        <button type="button" (click)="changeDeadline(task, 'y', 1)">y+</button>
        <button type="button" (click)="changeDeadline(task, 'y', -1)">y-</button>
    </form>
</div>
</div>