
main, body {
    margin: 0;
    padding: 0;
}

dashboard {
    background-color: rgb(232, 232, 232);
    border-right: 5px solid rgb(111, 111, 111);
}

.content {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}