
<div class="dashboard">
    <form>
        <input [(ngModel)]="projectName" name="add"/>
        <button (click)="addProject(projectName)">Add</button>
    </form>

    <form>
        <input [(ngModel)]="projectSearch" name="search"/>
        <button (click)="searchProjects()">Search</button>
    </form>

    @for (project of projects; track $index) {
                <div [ngClass]="isOnProjectPage(project) ? 'selected-project' : 'project-thumnail'">

                    <a [routerLink]="['/' + project.name.toLowerCase()]">
                        <a [routerLink]="['/']">
                            <h1> {{project.name}} </h1>
                            <p> {{project.description}} </p>
                            <p> Amount of tasks: {{project.tasks.length}} </p>
                            <p> Deadline: {{ project | deadline }} </p>
                        </a>
                    </a>

                    @if(isOnProjectPage(project)) {
                        <button (click)="edit(project)">Edit</button>
                        @if(edit(project, true)) {
                            <form>
                                <input [(ngModel)]="projectReName" name="rename" id="rename"/>
                                <button (click)="changeProjectName(project)">ReName</button>
                            </form>
                        }
                    }

                </div>
    }
</div>